.appWrapper {
    position: relative;
    background: white;
    border: 1px solid black;
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: max-content;
    font-family: Arial, Helvetica, sans-serif;
}

.formInner { 
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}


.buttonWrapper {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}

.formWrapper {
    display: grid;
    gap: 1rem .5rem;
    justify-content: flex-start;
    grid-template-columns: auto minmax(auto, 400px);
}

h2.formWrapper {
    text-align: center;
    align-content: center;
    margin: 0;
    margin-bottom: 1em;
}